<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <div ng-show="is_alert">
      <div class="alert alert-success alert-dismissible" role="alert">
        {{ alert_message }}
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-3">
      <form class="form-horizontal" ng-submit="send()"ng-init="init()" >
        <div class="form-group">
          <label for="Name" class="col-sm-2 control-label"> Name </label>
          <div class="col-sm-4">
            <input type="text" ng-model="name" name="name" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"> Position </label>
          <div class="col-sm-4">
            <select  ng-model="position" class="form-control" ng-change="position_select(position)">
              <option ng-repeat=" _position in positions" value="{{_position}}"> 
                {{_position}} 
              </option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-repeat="_location_type in location_types" 
            ng-show="location_type_num>=$index">
          <label for="{{_location_type}}" class="col-sm-2 control-label"> {{_location_type}} </label>
          <div class="col-sm-4">
            <!-- <input type="text" ng-model="location_types_value[$index]" ng-show="location_type_num==$index && !input_bulk" name="" class="form-control" id="" placeholder=""> -->
            <select  ng-model="location_types_value[$index]" class="form-control" 
                      ng-show="location_type_num>=$index" ng-change="location_type_value_select($index)">
              <option ng-repeat=" _location in locations[$index]" value="{{_location}}"> 
                {{_location}} 
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-3">
            <button type="button" ng-click="create()" class="btn btn-primary"> Create </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
