<style>
  .line {
  border:0px;
  border-style:solid;
  border-color:#ADB1B3;
}
</style>
<div class="container-fluid line">
  <div class="row">
  <div class="col-sm-offset-3">
   <form class="form-horizontal" ng-submit="send()">
    <div class="form-group line">
      <label class="col-sm-2 control-label">Staff</label>
      <div class="col-sm-4">
        <select  ng-model="staff" class="form-control">
          <option ng-repeat="_staff in staffs"> {{_staff}} </option>
        </select>
      </div>
    </div>

    <div class="form-group line">
      <label for="topic" class="col-sm-2 control-label">Topic</label>
      <div class="col-sm-4">
        <input type="text" ng-model="topic" name="topic" class="form-control" id="topic" placeholder="">
      </div>
    </div>

    <div class="form-group line" ng-show="false">
      <label for="description" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-4">
        <textarea rows="4" ng-model="description" name="description" class="form-control" id="" placeholder=""></textarea>
      </div>
    </div>

    <div class="form-group line">
      <label for="file_no" class="col-sm-2 control-label"> File Number </label>
      <div class="col-sm-4">
        <input type="text" ng-model="file_no" class="form-control">
      </div>
    </div>

    <div class="form-group line" ng-show="false">
      <label for="attachment" class="col-sm-2 control-label">Attachment</label>
      <div class="col-sm-4">
        <input type="file" ng-model="attachment" name="attachment" class="form-control" id="" placeholder="">
      </div>
    </div>

    <div class="form-group line">
      <label for="due_by" class="col-sm-2 control-label">Due By</label>
      <div class="col-sm-4">
        <input type="date" ng-model="due_by" name="due_by" class="form-control" id="" placeholder="">
      </div>
    </div>

    <div class="form-group line" ng-show="!add_user">
      <label for="assigned_to" class="col-sm-2 control-label">Assigned To</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" ng-model="employee.name" name="assigned_to" placeholder="Search..." class="form-control">
          <!-- <div ng-show="!add_user" class="input-group-btn"> -->
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="add_user=true">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
          <!-- </div> -->
          <div ng-show="false" class="input-group-btn">
          <!-- <span class="input-group-btn"> -->
            <button type="button" class="btn btn-default" ng-click="add_user=false">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          <!-- </span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-1 line">
    <div name="employee_form" class="panel panel-default" ng-show="add_user">
      <div class="panel-heading">
        Employee Details
        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="add_user=false">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div class="row">
      <div class="panel-body col-sm-offset-0 line" >
        <form class="form-horizontal" ng-submit="send()">
        <div class="form-group line">
        <label for="name" class="col-sm-3 control-label line"> Name </label>
        <div class="col-sm-6 line">
          <input type="text" ng-model="employee.name" class="form-control">
        </div>
        </div>
      <div class="form-group line" >
        <label for="position" class="col-sm-3 control-label line"> Position </label>
        <div class="col-sm-6 line">
          <input type="text" ng-model="employee.position" class="form-control">
        </div>
      </div>
      </form>
      </div>
      </div> <!-- row-->
    </div>
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-3">
        <button type="submit" class="btn btn-primary"> Create </button>
      </div>
    </div>
  </form>
  </div>
</div>
</div>